@use '../../styles/colors';
@use '../../styles//mixins';

.patients{
    background-color: colors.$secondary;
    width: 100vh;
    height: 100vh;
    &_title{
        color:white;
        padding-top: 1rem;
    }
    &_chart{
        display: flex;
        flex-direction: column;
        background-color: white;
        font-weight: 600;
        color: #afafaf;
        margin: 6rem;
        justify-content: center;
        @include mixins.tablet{
            margin-left: 8rem;
        }
    }
    &_header{
        display: flex;
        justify-content: space-around;
        margin: 1rem;
        font-weight: 800;
    }
    &_container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: 1rem;
    
    }
    &_individual{
        display: flex;
        justify-content: space-around;
        border-top: 0.1rem solid grey;
      
    }
    &_individual:hover{
        background-color: #ebeaea;
        cursor: pointer;
    }
    &_button{
        background: #5E5DF0;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 10px;
        font-weight: 700;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 4px 20px;
        width: fit-content;
        border: 0;
        position: absolute;
        left: 8rem;
    }
    &_button:hover{
        box-shadow: #FFFFFF 0 10px 20px -10px;
    }
    &_button:active{
        background: #9a9ae6;
    }
    &_button--trash{
        background: #5E5DF0;
        border-radius: 999px;
        box-shadow: #5E5DF0 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
        font-size: 8px;
        font-weight: 600;
        opacity: 1;
        padding: 4px 20px;
        width: fit-content;
        border: 0;
        margin-left: 30rem;

    }
    &_button--trash:hover{
        box-shadow: #FFFFFF 0 10px 20px -10px;
    }
    &_button--trash:active{
        background: #9a9ae6;
    }
}

.patient{
    &_img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: #ccc;
        // transform: scale(1.2);
    }
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 2.25rem;
    fill: 1;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    color:inherit;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-decoration: none;
    font-variation-settings:'FILL' 1,'wght' 700,'GRAD' 0,'opsz' 48
  }

  .single{
    background-color: white;
    font-weight: 600;
    color: #afafaf;
    margin: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    @include mixins.tablet{
        margin-left: 8rem;
    }
    &_top{
        display: flex;
        justify-content:flex-start;
        margin-left: 1rem;
        padding-top: 1rem;
    }
    &_img{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        background-color: #ccc;
    }
    &_name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
    }
    &_lable{
        color: rgb(36, 36, 36);
    }
    &_flex{
        display: flex;
        justify-content: space-around;
    }
  }